.dino{
    position: absolute;
    top: 780px;
    left: 0;
    height: 70px;
    width: 70px;
    transition: top  0.5s ease-out;
}
.track{
    position: absolute;
    bottom: 0px;
    left: 0;
}
.tree{
    position: absolute;
    top: 780px;
    left: 800px;
    transition: left 0.5s ease-out;
}